.intervalSelectorWrapper{
    position: absolute;
    font-size: 65%;
    font-family: 'Digital7', sans-serif;
    top: 33.1%;
    left: 40.9%;
    width: 19%; 
    height: 20%;
    color: #FFDBAA;
    z-index: 3;
    background-repeat: no-repeat;
}

.intervalType {
    position: absolute;
    top: 15%;
    font-size: 90%;
    left: 54%;
    cursor: pointer;
}

.intervalTypeElement.selected {
    color: white;
}

.intervalDisplay {
    position: absolute;
    width: 5%;
    height: 35px;
    color: white;
    right: 0px;
    font-size: 190%;
    top: 67%;
}

.intervalNum {
    position: absolute;
    left: 4%;
    top: 12%;
    /* padding-top: 10%; */
    width: 45%;
}

.intervalNumElement {
    cursor: pointer;
    padding: 1%;
    position: relative;
    float: left;
    width: 30%;
    /* height: 5%; */
    font-family: 'Digital7', sans-serif;
    font-size: 260%;
}

.intervalNumElement.selected {
    color: white;
}