@CHARSET "ISO-8859-1";

.testInfos{
    margin: 5px;
    float: left;
    width: 200px;
    height: 200px;
    background-color: grey;
}

.mainGame *{
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    cursor: default;
}

.home{
    position: relative;
    margin: 100px auto;
    width: 400px;
    padding: 80px;
    background-color: rgb(239, 239, 239);
    magin: auto;
    text-align: center;
}

.bottomRight{
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.mainGame{
    position: relative;
    margin: 100px auto;
    min-height: 461px;
    min-width: 800px;
    width: 400px;
    padding: 80px;
    background-color: rgb(239, 239, 239);
    magin: auto;
    text-align: center;
}

.button{
    margin: 15px 0 0 0;
}

.button a{
    text-decoration: none;
    padding: 4px 10px 4px 10px;
    width: 155px;
    margin: auto;
    color: white;
    background-color: lightseagreen;
    transition: 0.4s background-color;
}

.button a:hover{
    background-color: lightslategray;
}

.welcome{

}

.points{

}

.level{

}

body{
    background-color: rgb(216, 216, 216);
}

.yourPoints{
    position: absolute;
    /* background-color: grey; */
    left: 75px;
}
.currentScale{
    position: absolute;
    /* background-color: grey; */
    /* left: 49%; */
    /* right: 50%; */
    left: 590px;
    top: 225px;
}

.currentKey{
    position: absolute;
    left: 590px;
    top: 255px;
}
.yourLevel{
    position: absolute;
    right: 200px;
    /* background-color: grey; */
}
.remainingTime{
    position: absolute;
    /*background-image: url("../gfx/clock.png");*/
    right: 75px;
    top: 50px;
    width: 100px;
    height: 100px;
    float: right;
    /*background-color: grey;*/
}
.gameContent{
    position: absolute;
    top: 150px;
    left: 75px;
    width: 810px;
    height: 400px;
}

.loading{
    background-image: url("../gfx/ajax-loader.gif");
    width: 55px;
    height: 55px;
    margin: auto;
    top: 30%;
    left: 50%;
    position: absolute;
}

.question{
    /* background-color: rgba(105, 105, 105, 0.16); */
    width: 100%;
    height: 100%;
    position: relative;
}

.questionElement {
    top: 100px;
    left: 240px;
    position: absolute;
    font-size: 47px;
}

.questionText{
    position: absolute;
    left: 40px;
    top: 40px;
    font-size: 20px;
    font-weight: bold;
}

.questionChord{
    position: absolute;
    left: 336px;
    top: 95px;
    font-size: 38px;
    font-weight: bold;
}

.feedbackDiv{
    position: absolute;
    left: 326px;
    top: 127px;
    font-size: 50;
}

.answerItems, .answerNotes, .answerDegrees, .answerAreas, .answerChords {
    position: absolute;
    left: 105px;
    top: 191px;
    width: 670px;
    height: 242px;
}


.answerItem, .answerNote, .answerDegree, .answerArea, .answerChord{
    position: relative;
    float: left;
    margin: 5px;
    min-width: 40px;
    min-height: 40px;
    line-height: 40px;
    color: white;
    background-color: #53ae2c;
}

.answerItem:hover, .answerNote:hover, .answerDegree:hover, .answerArea:hover, .answerChord:hover{
    background-color: #5dcd34;
    transition: 0.4s background-color;
}

.answeredItem, .answeredNote, .answeredDegree, .answeredArea, .answeredChord{
    position: relative;
    float: left;
    margin: 5px;
    min-width: 40px;
    min-height: 40px;
    line-height: 40px;
    background-color: #9953ae;
}

.nextButton{
    background-color: #53ae2c;
    position: absolute;
    bottom: 130px;
    right: 131px;
    padding: 5px;
    z-index: 2;
}

.nextButton a{
    color: white;
    text-decoration: none;
}
