.container{
}
.mainDiv{
    padding-top: 715px;
    max-width: 1280px;
    max-height: 0px;
    /* left: 18%; */
}

body{
    font-size: 34px!important;
}

.homePageWrapper{
      max-width: 1380px;
}