@CHARSET "ISO-8859-1";

html{
    overflow:auto;
}

.homeContainer {
    position: absolute;
    width: 97.079755%;
    padding-top: 63.8%;
    top: 5.6%;
    margin-left: 1%;
}

.sideBar {
    position: absolute;
    margin: 0 0 0 4%;
    width: 89%;
    padding-top: 107.6%;
    top: 42.4%;
    left: 1%;
    background-size: 100%;
    background-image: url('../img/hitParadeFull.svg');
    background-repeat: no-repeat;
}

.mainDiv {
    background-color: black;
    width: 99%;
    padding-top: 193.979755%;
    /* height: 500px; */
    margin: auto;
    position: relative;
}

#configTool {
    width: 10%;
    padding-top: 10%;
    background-position: 0 0;
    background-size: 100%!important;
    background: url('../img/configIcon.svg');
    background-repeat: no-repeat;
    position: absolute;
    right: 5%;
    top: 1%;
    z-index: 5;
}

.welcome {
  font-size: 270%;
}

.level {
    font-size:220%;
}

.points{
    font-size:200%;
}

#topUsers{
    font-size:250%!important;
}

#navText{
    font-size:300%!important;
}