@CHARSET "ISO-8859-1";

*{
    font-family: 'Arial';
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

#newPassContainer form {
    padding: 5%;
}

#newPassContainer .sendButton {
    cursor: pointer;
    color: #FFDBAA;
    font-size: 150%;
    font-weight: bold;
    width: 100%;
    text-align: center;
    margin-top: 25%;
}

div#newPassContainer {
    color: white;
    background-color: rgba(0, 0, 0, 0.51);
    position: absolute;
    top: 10%;
    width: 40%;
    padding: 5% 5% 1% 5%;
    text-align: center;
    left: 25%;
    border: 1px white solid;
}

#newPassContainer .inputLabel {
    width: 40%;
    clear: both;
    float: left;
    text-align: right;
    padding: 2%;
}

#newPassContainer input {
    font-size: 130%;
    width: 47%;
    float: left;
}

.configHeader {
    width: 100%;
    text-align: center;
    padding: 3%;
    font-size: 200%;
    color: #FFDBAA;
}

.iForgot {
    width: 100%;
    text-align: right;
    line-height: 150%;
    cursor: pointer;
}

.sendAMessageIcon a,ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â .sendAMessageIcon a:link,ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â .sendAMessageIcon a:visited {
    color: white;
}

input.user, input.pass {
    width: 100%;
    font-size: 150%;
    margin: 2% 0 2% 0;
}

.loginLabel {
    width: 100%;
    text-align: center;
    font-size: 150%;
    margin-top: 2%;
    color: rgb(255, 219, 170);
}

.logInScreen form {
    /* background-color: blue; */
    width: 100%;
    height: 100%;
    padding-top: 0%;
}

.signUpScreen form {
    /* background-color: blue; */
    width: 100%;
    height: 80%;
    padding-top: 0%;
}

#channels {
    background-image: url('../img/channels.svg');    
    width: 92.7%;    position: absolute;    
    top: 17.7%;    
    left: 3.1%;    padding-top: 19.2%;    background-size: 100%;    background-repeat: no-repeat;
    z-index: 2;
}

#selectionFrame {
    background-image: url('../img/selectionFrame.svg');
    width: 94%;
    position: absolute;
    top: 14.3%;
    left: 2.4%;
    padding-top: 19.2%;
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 5;
}

#selectorNeedle {
    width: 1.4%;
    background-image: url('../img/radioSelector.svg');
    background-repeat: no-repeat;
    position: absolute;
    background-size: 100%;
    /* background-color: red; */
    padding-top: 14.2%;
    top: 28.5%;
    left: 22.6%;
    -webkit-transition: left 1s;
    -moz-transition: left 1s;
    -o-transition: left 1s;
    z-index: 3;
    transition: left 1s;
}

#selectorNeedle.position3 {
    left: 74.4%;
}

#selectorNeedle.position2 {
    left: 43.8%;
}

.section {
    position: absolute;
    top: 3%;
    left: 4%;
    width: 98%;
    height: 95%;
    /* background-color: black; */
    overflow-y: auto;
}

.sectionSelectors {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 24.2%;
    /* background-color: rgba(0, 128, 0, 0.37); */
    z-index: 5;
}

.radioHomeContent.mainScreen {
    width: 100%;
    height: 100%;
    position: relative;
}

.radioHomeContents {
    width: 100%;
    max-width: 1383px;
    height: 100%;
    position: absolute;
    top: 0;
}

.radioPageWrapper {
    background-image: url('../img/radio2.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    max-width: 1370px;
    margin: auto;
    padding-top: 82%;
    box-shadow: 0px 0 210px 85px;
    background-color: black;
}

#flickrShow {
    width: 20%;
}

.backToCassetteCoach {
    cursor: pointer;
    padding-top: 11.3%;
    width: 7%;
    left: 7%;
    z-index: 5;
    position: absolute;
    top: 30%;
    /* background-color: rgba(0, 0, 255, 0.66); */
}

.openCV {
    cursor: pointer;
    padding-top: 12%;
    width: 7%;
    left: 84.3%;
    z-index: 5;
    position: absolute;
    top: 27.5%;
    /* background-color: rgba(0, 0, 255, 0.66); */
}

.sectionTitle {
    text-align: center;
    font-size: 200%;
}

.sectionSelector {
    float: left;
    width: 29%;
    padding: 2%;
    cursor: pointer;
    text-align: center;
}

.sectionSelector.active {
    /* background-color: rgba(44, 44, 44, 1); */
}

.sectionSelector {
    z-index: 5;
    /* background-color: rgba(0, 0, 255, 0.46); */
}

.sectionSelector.hobbies {
    position: absolute;
    left: 51%;
    width: 22%;
    top: 69%;
    padding-top: 2%;
}

.sectionSelector.experience {
    width: 22%;
    position: absolute;
    left: 43%;
    top: 35%;
    padding-top: 1.9%;
}

.sectionSelector.life {
    top: 53.5%;
    position: absolute;
    width: 13%;
    padding-top: 1.6%;
    left: 22%;
}

.legend li {
    display: block;        position: relative;    
    margin-bottom: 3%;    
    margin-left: 0;
    border-radius: 5%;    
    padding: 4% 3% 1% 9%;    
    font-size: 80%;    cursor: default;    -webkit-transition: background-color 200ms ease-in-out;    -moz-transition: background-color 200ms ease-in-out;    -o-transition: background-color 200ms ease-in-out;    transition: background-color 200ms ease-in-out;
}

ul.polararea-legend {
    list-style: none;            top: 0;
}

.legend span {
  display: block;
  position: absolute;
  left: -20%;
  top: 10%;
  width: 20%;
  height: 100%;
  border-radius: 5px;
}

.chart {
    width: 47%;
    margin-left: 1%;
    float: left;
    color: white;
    /* background-color: rgba(0, 0, 255, 0.44); */
}

.chartTitle {
    font-size: 80%;
    margin: 1% 1% 3% 0%;
}

.chart.langsChart {
}

.chart canvas {
    float: left;
    margin: auto;
    max-width: 46%;
}

.legend {
    float: left;
    width: 38%;
    margin-left: 3%;
    height: 100%;
    margin-top: 2%;
    font-size: 65%;
}

img.storyOfMyLife {
    width: 87.7%;
    margin: auto;
}

.termsAndConditions {
    font-size: 68%;
    cursor: pointer;
}

.closeWindow {
    cursor: pointer;
    width: 10%;
    padding-top: 16%;
    background-image: url('../img/closeButton2.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    right: 3%;
    top: 3%;
}

#termsAndConditions .closeWindow {
    top: 1.5%;
}

.agreeTermsAndConditions {
    cursor: pointer;
    position: absolute;
    font-size: 80%;
    bottom: 2%;
    text-align: center;
}

div#termsAndConditions {
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.84);
    z-index: 5;
    padding: 4%;
}

.sendSignUp {
    cursor: pointer;
    width: 100%;
    text-align: center;
    font-size: 180%;
    font-weight: bold;
    margin-top: 3.7%;
    color: rgb(255, 219, 170);
}

div#results {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.forgotPasswordScreen, .logInScreen, .signUpScreen {
    border: 1px white solid;
    position: absolute;
    padding: 1%;
    top: 14.7%;
    left: 30.5%;
    height: 21%;
    width: 37%;
    background-color: rgba(0, 0, 0, 0.74);
}

.forgotPasswordScreen {
    height: 11%;
    top: 19%;
}

.signUpScreen{
    height: 26%;
    top: 13.6%;
}

.homePageFeedback {
    position: absolute;
    width: 100%;
    text-align: center;
    line-height: 240%;
    height: 4%;
    top: 0;
    background-color: rgba(139, 0, 0, 0.34);
}

.scalesBox {
    width: 25%;
    right: 0;
    position: absolute;
}

.chordsBox {
    width: 25%;
    left: 38%;
    height: 100%;
    position: absolute;
}

.chordsIcon:hover {
    background-position: 0 105%;
    -o-animation: fadein 0.4s;
    -moz-animation: fadein 0.4s;
    -webkit-animation: fadein 0.4s;
    animation: fadein 0.4s;
}

.intervalsBox {
    width: 25%;
    height: 100%;
    position: absolute;
    left: 0;
}

.homeContentContainer {
    width: 37%;
    margin: auto;
    height: 100%;
    position: relative;
    top: 0;
    padding-top: 122%;
}

.sendAMessageIcon {
    position: absolute;
    top: 80%;
    width: 100%;
    /* left: 30.6%; */
    cursor: pointer;
}

.sendAMessagePic {
    background-image: url('../img/messageIcon.svg');
    padding-top: 21%;
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    width: 19.7%;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

.sendAMessagePic:hover {
    transform: rotate(28deg);
    -webkit-transition: all 0.4s;
}

.sendAMessageText {
    position: absolute;
    padding-top: 4%;
    margin-left: 2%;
}

.sendAMessageText {
    left: 21%;
}

.aboutMeText {
    width: 81%;
    padding-top: 5.7%;
    position: absolute;
}

.aboutMePic {
    background-image: url('../img/meIcon.svg');
    width: 25%;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 25%;
    position: absolute;
    top: 0;
    right: 0;
}

.aboutMeIcon {
    position: absolute;
    top: 71%;
    /* left: 31.2%; */
    width: 100%;
    cursor: pointer;
}

.personalProjectText {
    position: absolute;
    top: 65%;
    /* left: 31.4%; */
    width: 100%;
}

.endIconsText {
    padding-top: 40%;
}

.scalesIcon {
    background-image: url('../img/scalesIcon.svg');    background-size: 100%;    
    width: 100%;    
    position: relative;    top: 0;    
    /* left: 77%; */    text-align: center;    
    padding-top: 108%;    background-repeat: no-repeat;
}

.scalesIcon:hover {
    background-position: 0 105%;
    -o-animation: fadein 0.4s;
    -moz-animation: fadein 0.4s;
    -webkit-animation: fadein 0.4s;
    animation: fadein 0.4s;
}

.chordsIcon {
    background-image: url('../img/chordsIcon.svg');    background-size: 100%;    
    width: 100%;
    position: relative;    top: 0;    
    /* left: 39%; */    text-align: center;    
    padding-top: 108%;    background-repeat: no-repeat;
}

.iconsBox {
    position: absolute;
    top: 48%;
    padding-top: 0%;
    /* background-color: blue; */
    /* left: 34%; */
    width: 100%;
    text-align: right;
}

.iconInBox {
    position: absolute;
    clear: none;
    float: left;
    width: 25%;
    height: 50%;
    text-align: center;
}

.explanationText {
    position: absolute;
    top: 37.5%;
    text-align: center;
    width: 146%;
    left: -21%;
}

.signUpSection {
    position: absolute;
    top: 15.5%;
    width: 100%;
    padding-top: 68%;
    background-image: url('../img/homeCassetteTransparent.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    /* left: 34%; */
    text-align: center;
}

.headerTextHome {
    font-size: 200%;
    position: absolute;
    top: 5.5%;
    width: 100%;
    text-align: center;
}

.loginWrapper {
    position: absolute;
    top: 1%;
    right: 5%;
    text-align: right;
}

.lightBrownColor {
    color: #ffdbaa;
    display: inline;
}

.brownColor {
    color: #d4a76a;
    display: inline;
}

span.betaText {
    vertical-align: super;
    font-size: 50%;
}

.subText {
    position: absolute;
    /* top: 106%; */
    left: 0;
    width: 100%;
    text-align: center;
}

.intervalsIcon {
    background-image: url('../img/intervalsIcon.svg');
    background-size: 100%;
    position: relative;
    width: 100%;
    top: 0;
    /* left: 0; */
    text-align: center;
    padding-top: 108%;
    background-repeat: no-repeat;
}

.intervalsIcon:hover {
    background-position: 0 105%;
    -o-animation: fadein 0.4s;
    -moz-animation: fadein 0.4s;
    -webkit-animation: fadein 0.4s;
    animation: fadein 0.4s;
}

.mediumText {
    font-size: 130%;
}

.logInText {
    cursor: pointer;
}

.testItText {
    top: 54%;
    position: absolute;
    width: 100%;
    -webkit-transition: font-size 0.5s;
    -o-transition: font-size 0.5s;
    -moz-transition: font-size 0.5s;
    transition: font-size 0.5s;
    cursor: pointer;
}

.testItText:hover {
    -webkit-transition: font-size 0.5s;
    -o-transition: font-size 0.5s;
    -moz-transition: font-size 0.5s;
    transition: font-size 0.5s;
    font-size: 140%;
}

.orText {
    position: absolute;
    top: 35%;
    width: 100%;
}

.signUpText {
    position: absolute;
    top: 13%;
    width: 100%;
    text-align: center;
    -webkit-transition: font-size 0.5s;
    -o-transition: font-size 0.5s;
    -moz-transition: font-size 0.5s;
    transition: font-size 0.5s;
    cursor: pointer;
}

.signUpText:hover {
    font-size: 140%;
    -webkit-transition: font-size 0.5s;
    -o-transition: font-size 0.5s;
    -moz-transition: font-size 0.5s;
    transition: font-size 0.5s;    
}

.smallText {
    font-size: 80%;
}

.homeContents {
    color: white;
    font-size: 80%;
    position: relative;
    /* padding-top: 122%; */
    margin: auto;
    width: 100%;
    margin-top: 3%;
}

input.submitButton {
    cursor: pointer;
    margin: 0.4%;
    float: left;
    color: black;
    background-color: white;
    border: none;
    font-size: 43.1%!important;
}

fieldset.noBoders {
    border: none;
}

.homePageWrapper {
    max-width: 100%;
    margin: auto;
    height: 100%;
    /* background-image: url('../img/bg.png'); */
    background-color: black;
    /* box-shadow: 0px 0 190px 35px; */
}

.mainWrapper {
    display: table-cell;      height: 100%;      
    width: 100%;
    vertical-align: middle;
}

span.centerHelper { 
    height: 100%; 
    vertical-align: middle;
}


#topUsers .topUsersTitle {
    top: 5.1%;
    position: absolute;
    left: 19%;
    width: 100%;
    height: 12%;
    -ms-transform: rotate(1deg); /* IE 9 */      
    -webkit-transform: rotate(1deg); /* Chrome, Safari, Opera */      
    transform: rotate(1deg);
}

#topUsers div {
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#topUsers .firstOne {
    top: 25.5%;
    position: absolute;
    left: 24%;
    width: 96.6%;
    height: 11%;
    -ms-transform: rotate(4.7deg); /* IE 9 */      
    -webkit-transform: rotate(4.7deg); /* Chrome, Safari, Opera */      
    transform: rotate(4.7deg);
}

#topUsers .secondOne {
    top: 57.6%;
    left: 13%;
    height: 12%;
    width: 100%;
    position: absolute;
    -ms-transform: rotate(-1deg); /* IE 9 */      
    -webkit-transform: rotate(-1deg); /* Chrome, Safari, Opera */      
    transform: rotate(-1deg);
}

#topUsers .thirdOne {
    top: 75.9%;
    height: 12%;
    width: 100%;
    position: absolute;
    left: 11%;
    -ms-transform: rotate(-1deg); /* IE 9 */      
    -webkit-transform: rotate(-1deg); /* Chrome, Safari, Opera */      
    transform: rotate(-1deg);
}

#topUsers .fourthOne {
    top: 104%;
    width: 100%;
    height: 10%;
    left: 13.7%;
    position: absolute;
    -ms-transform: rotate(-3deg); /* IE 9 */      
    -webkit-transform: rotate(-3deg); /* Chrome, Safari, Opera */      
    transform: rotate(-3deg);
}


@font-face {
    font-family:"Digital7";
    src: url("../fonts/digital-7.ttf") /* TTF file for CSS3 browsers */
}

.sevenSegText *{
    font-family:'Digital7', sans-serif;
}

#configScreen .sendButton {
    width: 100%;
    text-align: center;
    font-size: 200%;
    color: #FFDBAA;
    cursor: pointer;
}

#configScreen .inputFields {
    margin-top: 3%;
    margin-bottom: 1.5%;
}

.inputGroup {
    padding: 1%;
    margin-left: 11%;
}

.inputFields input {
    clear: left;
    font-size: 150%;
    width: 48%;
}

.inputFields .inputLabel {
    float: left;
    clear: left;
    width: 39%;
    font-size: 150%;
}

#configScreen .closeWindow {
    width: 5%;
}

#configScreen {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.89);
    width: 100%;
    color: white;
    border: 1px solid white;
    height: 100%;
    top: 0;
    z-index: 10;
}

#configScreen * {
    font-family: Arial, Helvetica, sans-serif;
}

.afterChange {
    width: 100%;
    text-align: center;
    margin-top: 0;
}

.front {
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

.back{
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

.newText {
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#logoutTool{
    cursor: pointer;
    background-image: url('../img/powerButtonIcon.svg');
    background-repeat: no-repeat;
    width: 3.6%;
    height: 8%;
    background-size: 100%;
    position: absolute;
    top: 2.8%;
    left: 1.8%;
}

#logoutTool:hover{
    background-image: url('../img/powerButtonIconIvory.svg');
    background-size: 100%;
    animation: fadein 1s;
    -moz-animation: fadein 1s; 
    -webkit-animation: fadein 1s;
    -o-animation: fadein 1s; 
}

#configTool {
    width: 5%;
    cursor: pointer;
    padding-top: 5%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: url('../img/tools.svg');
    position: absolute;
    right: 1%;
    top: 2%;
}

#configTool:hover{
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

.homeButton.results {
    cursor: pointer;
    left: 49%;
    bottom: 5%;
    position: absolute;
}

#results #mytable {
    width: 100%;
    padding: 7% 21%;
}

#results table {
    color: white;
    font-size: 140%;
}

div#topUsers {
    position: absolute;
    left: 0;
    top: 0;
    width: 79%;
    height: 66%;
    font-size: 0.8em;
}

.loginMessages {
    background-color: black;
    width: 100%;
    text-align: right;
    color: white;
    font-size: 50%;
    /* padding: 5px; */
    position: relative;
}

.loginForm label {
    float: left;
    margin: 5px;
    width: 31%;
    /* clear: both; */
    /* width: 240px; */
    font-size: 50%;
}

.loginForm {
    top: 0;
    width: 100%;
    /* padding-top: 5.2%; */
    background-color: black;
    color: white;
    border-bottom: solid darkgrey 1px;
}

.loginForm input {
    font-size: 80%;
    max-width: 58%;
}

.loginForm form {
    position: relative;
    top: 1%;
    font-size: 160%;
    width: 100%;
    /* display: table; */
}

.homeContainer {
    position: absolute;
    float: left;
    width: 53.079755%;
    padding-top: 34.6%;
    top: 20.6%;
    margin-left: 8%;
}

.showHome {
    position: absolute;
    background-repeat: no-repeat;
    background-image: url('../img/smallHome.svg');
    background-size: 100%;
    /* background-color: rgba(0, 0, 255, 0.32); */
    width: 7%;
    height: 11%;
    top: 78%;
    left: 88%;
}

.hidden{
    display: none;
}

.mainDiv {
    vertical-align: middle;
    background-color: black;
    width: 100%;
    padding-top: 51%;
    position: relative;
    margin: auto;
    /* box-shadow: 0px 0 205px 140px; */
}

.sideBar {
    position: absolute;
    margin: 0 0 0 4%;
    left: 59.9%;
    width: 27.3%;
    padding-top: 32.2%;
    top: 24.4%;
    background-size: 100%;
    background-image: url('../img/hitParadeFull.svg');
    background-repeat: no-repeat;
}

div#navText {
    position: absolute;
    height: 10%;
    font-size: 100%;
    top: 82%;
    left: 28%;
    width: 62%;
    color: white;
    text-align: center;
}

.testInfos{
    margin: 5px;
    float: left;
    width: 200px;
    height: 200px;
    background-color: grey;
}

.mainGame *{
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    cursor: default;
}

.exampleInline {
    background-color: rgba(37, 22, 0, 0.76);
    padding: 10px;
}

.extraInformation {
    background-color: rgba(37, 22, 0, 0.76);
    color: lightgrey;
    padding: 10px;
}

.buttonContinue {
    cursor: pointer;
    bottom: 4%;
    position: absolute;
    width: 100%;
    height: 11%;
    font-size: 120%;
    text-align: center;
}

.currentQuestionHelp {
    position: absolute;
    left: 4%;
    top: 16%;
    width: 81.9%;
    height: 57%;
    overflow: auto;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    border: 1px solid white;
}

.currentQuestionHelp *{
    width: 100%;
    text-align:center;
    font-size: 100%;
}

#displayHelp {
    left: 0;
    top: 0;
    /* font-size: 22px; */
    position: absolute;
    color: white;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.85);
}

select.comboBox, select.comboBox:focus {
    color: white;
    background-color: black;
    font-size: 100%;
    outline: rgb(128, 82, 21);
}

#comboBoxWrapper {
    position: absolute;
    top: 46%;
    right: 19.3%;
}

.whiteDot1, .whiteDot2, .whiteDot3, .whiteDot4 {
    position: absolute;
    left: 55%;
    top: 42%;
    background-image: url('../img/whiteDot.svg');
    width: 17.9%;
    padding-top: 18%;
    background-size: 100%;
    background-repeat: no-repeat;
}

.whiteDot2{
    left: 74%;
}

.whiteDot3{
    top: 72%;
}

.whiteDot4{
    left: 74%;
    top: 72%;
}

.metroBack {
    position: absolute;
    top: 0;
    left: 0px;
    background-image: url('../img/metronomeBack.svg');
    width: 51.136%;
    height: 116.129%;
    background-size: 100%;
}

.metroFront {
    position: absolute;
    left: 0px;
    top: 0;
    background-image: url('../img/metronomeFront.svg');
    width: 51.136%;
    height: 116.129%;
    background-size: 100%;
    z-index: 5;
}

.metroLine {
    position: absolute;
    left: 22.727%;
    top: 22.419%;
    background-image: url('../img/metroLine.svg');
    width: 6.818%;
    height: 66.129%;
    background-size: 100%;
    z-index: 4;
}

.helpTitle {
    position: absolute;
    top: 5%;
    width: 100%;
    font-size: 153%;
    font-weight: bold;
    text-align: center;
    height: 11%;
}

.feedbackText {
    position: absolute;
    left: 110px;
    top: 130px;
    font-size: 20px;
}

.buttonTryagain {
    cursor: pointer;
    position: absolute;
    left: 15%;
    bottom: 6%;
    font-size: 140%;
    font-weight: bold;
}

.buttonShowSolution {
    cursor: pointer;
    position: absolute;
    right: 15%;
    bottom: 6%;
    font-size: 140%;
    font-weight: bold;
}

.toastMessage {
    text-align: center;
    line-height: 380%;
    position: absolute;
    border: 1px solid;
    left: 30%;
    top: 30%;
    font-size: 190%;
    width: 40%;
    height: 35%;
    color: white;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.62);
}

div#answerItemsWrapper {
    position: absolute;
    left: 39%;
    top: 62%;
    width: 65%;
    /* height: 100px; */
    text-align: center;
}

.home{
    position: absolute;
    /* margin: 0 0 0 106px; */
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    /* top: 123px; */
    /* padding: 80px; */
    background-size: 100%;
    background-image: url('../img/homeCasetteNoRolls.svg');
    text-align: center;
    /* float: left; */
}

.trainingView{
    position: absolute;
    padding-top: 13%;
    background-repeat: no-repeat;
    width: 95%;
    height: 83%;
    top: 6%;
    left: 3%;
    background-size: 100%;
    background-image: url('../img/homeTraining.svg');
    text-align: center;
    /* float: left; */
}

.navBar{
    width: 709px;
    height: 95px;
    position: relative;
    margin: 22px auto;
    background-image: url('../img/navBar.png');
    background-repeat: no-repeat;
}

.homeLogout{
    position: absolute;
    opacity: 0;
    width: 9.5%;
    height: 10%;
    left: 10.5%;
    background-size: 100%;
    top: 81.7%;
    background-repeat: no-repeat;
    cursor: pointer;
}

.homeLogout:hover{
    background-repeat: no-repeat;
    opacity: 0.5;
    background-image: url('../img/powerButtonIconBlue.svg');
    transition: opacity 1s;
    -moz-transition: opacity 1s;
    -webkit-transition: opacity 1s;
    -o-transition: opacity 1s;
}

.homeTraining {
    cursor: pointer;
    background-image: url('../img/allRolls.svg');
    background-repeat: no-repeat;
    width: 26.64625468%;
    background-size: 363.587263%;
    height: 42%;
    background-position: 78.4% 23%;
    position: absolute;
    top: 27.2%;
    left: 56.7%;
    animation: fadein 1s;
    -moz-animation: fadein 1s; 
    -webkit-animation: fadein 1s;
    -o-animation: fadein 1s; 
    z-index: 1;
}

.homeTraining:hover{
    z-index: 3;
    background-position: 79% 89.7%;
    -webkit-transition: width 0.6s; /* For Safari 3.1 to 6.0 */
    transition: width 0.6s;
    -webkit-animation:backspin 4s linear infinite;
    -moz-animation:backspin 4s linear infinite;
    animation:backspin 4s linear infinite;
}

@keyframes fadein {
    from {
        opacity:0.5;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0.5;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0.5;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0.5;
    }
    to {
        opacity: 1;
    }
}

.homePlay {
    cursor: pointer;
    background-image: url('../img/allRolls.svg');
    background-repeat: no-repeat;
    background-size: 242.365857%;
    width: 39.956%;
    height: 63%;
    position: absolute;
    top: 16.7%;
    left: 10.7%;
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
    background-position: 15.5% 14.9%;
    z-index: 1;
}

.homePlay:hover{
    z-index: 3;
    opacity: 0.99;
    background-position: 15.5% 101.6%;
    -webkit-transition: width 0.6s; /* For Safari 3.1 to 6.0 */
    transition: width 0.6s;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@-moz-keyframes backspin { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes backspin { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes backspin { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }

.trainingButtons {
    cursor: pointer;
    text-align: center;
    float: left;
    /* position: absolute; */
    width: 100%;
    /* left: 40px; */
    top: 220px;
    margin: 20px;
}

.trainingTypeButton {
    cursor: pointer;
    float: left;
    color: grey;
    width: 44%;
    max-width: 46%;
    height: 10.7%;
    left: 5%;
    margin: 0.3%;
    position: relative;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}


.trainingTypeButton a {
    color: rgb(49, 49, 49);
    text-decoration: none;
    width: inherit;
    height: inherit;
    position: relative;
    max-width: 100%;
    text-overflow: ellipsis;  overflow: hidden;  white-space: nowrap;
}

.bottomRight{
    position: absolute;
    bottom: 20px;
    left: 30px;
    padding: 5px;
}

.mainGame{
    width: 815px;
    height: 500px;
    margin: auto;
    top: 30px;
    position: relative;
    /*margin: 100px auto;*/
    /* padding: 80px; */
    background-color: black;
    magin: auto;
    text-align: center;
}

.button{
    cursor: pointer;
    margin: 15px 0 0 0;
    width: 140px;
}

.button a{
    cursor: pointer;
    text-decoration: none;
    padding: 4px 10px 4px 10px;
    width: 155px;
    margin: auto;
    color: white;
    background-color: lightseagreen;
    transition: 0.4s background-color;
}

.button a:hover{
    background-color: lightslategray;
}

.welcome{
    top: 20%;

    font-size: 140%;
    position: absolute;
    width: 47%;
    height: 10%;
    max-width: 47%;
    left: 48%;
    z-index: 2;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.points{
    position: absolute;

    height: 10%;
    width: 40%;
    top: 62.9%;
    text-align: left;
    max-width: 40%;
    left: 7%;
    z-index: 2;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.level{
    position: absolute;  
    font-size: 116%;
    top: 21%;  

    height: 10%;
    text-align: left;
    width: 38%;
    left: 8%;
    z-index: 2;
}

html{
    height: 98%;
    /* overflow: hidden; */
}

body{
    background-color: black;
    height: 100%;
    font-size: 15px;
}

.container{
    height: 100%;
    width: 100%;
    display: table;            
}

.yourPoints{
    position: absolute;
    color: white;
    left: 5%;
    top: 11%;
    font-size: 80%;
}
.currentScale{
    position: absolute;
    /* background-color: grey; */
    /* left: 49%; */
    /* right: 50%; */
    left: 160px;
    top: 239px;
    display: none;
    font-size: 20;
    font-weight: bold;
}

.currentKey{
    display: none;
    position: absolute;
    left: 161px;
    top: 265px;
    font-weight: bold;
    font-size: 20px;
}
.yourLevel{
    color: #ffdbaa;
    position: absolute;
    left: 5%;
    top: 5%;
    font-size: 90%;
}
.remainingTime{
    position: absolute;
    color: white;
    left: 10%;
    top: 2%;
    width: 100px;
}
.gameContent{
    position: absolute;
    top: 20%;
    left: 15%;
    width: 70%;
    height: 25%;
}

.loading, .loadingMain{
    background-image: url("../img/ajax-loader.gif");
    width: 32px;
    height: 32px;
    margin: auto;
    position: absolute;
}

.loading{
    top: 45%;
    left: 50%;
}

.loadingMain{
    width: 100%;
    height: 100%;
    z-index: 5;
    position: absolute;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.question{
    /* background-color: rgba(105, 105, 105, 0.16); */
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
}

.questionElement {
    top: 56%;
    text-align: left;
    left: 3%;
    color: #ffdbaa;
    position: absolute;
    font-size: 100%;
    width: 44%;
    height: 15%;
}

.questionText{
    position: absolute;
    text-align: left;
    left: 3%;
    width: 101%;
    height: 15%;
    color: white;
    top: 20%;
    font-size: 100%;
}

.questionChord{
    position: absolute;
    left: 336px;
    top: 95px;
    font-size: 38px;
    font-weight: bold;
}

.feedbackDiv{
    left: 0;
    top: 0;
    /* font-size: 22px; */
    position: absolute;
    color: white;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.85);
}

{
    position: absolute;
    width: 405px;
    left: 0px;
    top: 170px;
}

.answerItems, .answerNotes, .answerDegrees, .answerAreas, .answerChords {
    position: absolute;
    left: 25px;
    top: 10px;
    text-align: center;
}


.answerItem, .answerNote, .answerDegree, .answerArea, .answerChord{
    position: relative;
    padding: 1%;
    float: left;
    margin: 5px;
    min-width: 12%;
    /* min-height: 15%; */
    line-height: 100%;
    color: white;
    cursor: pointer;
}

.answerItem:hover, .answerNote:hover, .answerDegree:hover, .answerArea:hover, .answerChord:hover{
    background-color: rgba(255, 219, 170, 0.35);
    transition: 0.4s background-color;
}

.answeredItem, .answeredNote, .answeredDegree, .answeredArea, .answeredChord{
    position: relative;
    float: left;
    /* margin: 5px; */
    padding: 1%;
    min-width: 15%;
    min-height: 15%;
    line-height: 100%;
    color: white;
    background-color: #805215;
}

.nextButton{
    cursor: pointer;
    position: absolute;
    width: 5%;
    padding-top: 5.1%;
    background-repeat: no-repeat;
    bottom: 7%;
    right: 5%;
    z-index: 2;
    background-size: 100%;
    background-image: url('../img/nextIcon.svg');
}

.homeButton{
    cursor: pointer;
    position: absolute;
    width: 5%;
    background-repeat: no-repeat;
    bottom: 7%;
    left: 5%;
    padding-top: 5.1%;
    z-index: 2;
    background-size: 100%;
    background-image: url('../img/homeIconBig.svg');
}

.timeCounter{
    position: absolute;
    width: 8.3%;
    padding-top: 5.6%;
    right: 9%;
    top: 2%;
}

.metroLine{
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: linear;
  -webkit-transform-origin:0% 100%;
  -webkit-animation-timing-function:ease-in-out; /* or make your custom easing */
}

@-webkit-keyframes rotate {
  0%  { -webkit-transform: rotate(-30deg); }
  50% { -webkit-transform: rotate(30deg); }
  100% { -webkit-transform: rotate(-30deg); }
}


.jDonadoSection{
    position: relative;
    top: 0;
    padding-top: 52.3%;
    left: 3%;
    width: 93%;
    /* background-color: rgba(0, 0, 255, 0.58); */
}

.aboutMeContentContainer{
  width: 100%;
  margin: auto;
  height: 100%;
  position: relative;
  padding-top: 24%;
  /* padding-top: 122%; */
}

#keyWordsContainer{
    width: 91%;
    padding-top: 50%;
    height: 30%;
    float: left;
    position: relative;
    top: 10%;
    /* background-color: rgba(255, 255, 255, 0.35); */
}

#keyWords{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}