@CHARSET "ISO-8859-1";

*{
    font-family: 'Arial';
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.mainWrapper {
    display: table-cell;      height: 100%;      
    width: 100%;
    vertical-align: middle;
}

span.centerHelper { 
    height: 100%; 
    vertical-align: middle;
}


#topUsers .topUsersTitle {
    top: 5.1%;
    position: absolute;
    left: 19%;
    width: 100%;
    height: 12%;
    -ms-transform: rotate(1deg); /* IE 9 */      
    -webkit-transform: rotate(1deg); /* Chrome, Safari, Opera */      
    transform: rotate(1deg);
}

#topUsers div {
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#topUsers .firstOne {
    top: 25.5%;
    position: absolute;
    left: 24%;
    width: 96.6%;
    height: 11%;
    -ms-transform: rotate(4.7deg); /* IE 9 */      
    -webkit-transform: rotate(4.7deg); /* Chrome, Safari, Opera */      
    transform: rotate(4.7deg);
}

#topUsers .secondOne {
    top: 57.6%;
    left: 13%;
    height: 12%;
    width: 100%;
    position: absolute;
    -ms-transform: rotate(-1deg); /* IE 9 */      
    -webkit-transform: rotate(-1deg); /* Chrome, Safari, Opera */      
    transform: rotate(-1deg);
}

#topUsers .thirdOne {
    top: 75.9%;
    height: 12%;
    width: 100%;
    position: absolute;
    left: 27px;
    -ms-transform: rotate(-1deg); /* IE 9 */      
    -webkit-transform: rotate(-1deg); /* Chrome, Safari, Opera */      
    transform: rotate(-1deg);
}

#topUsers .fourthOne {
    top: 106.1%;
    width: 100%;
    height: 10%;
    left: 13.7%;
    position: absolute;
    -ms-transform: rotate(-3deg); /* IE 9 */      
    -webkit-transform: rotate(-3deg); /* Chrome, Safari, Opera */      
    transform: rotate(-3deg);
}


@font-face {
    font-family:"Digital7";
    src: url("../fonts/digital-7.ttf") /* TTF file for CSS3 browsers */
}

.sevenSegText *{
    font-family:'Digital7', sans-serif;
}

.front {
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

.back{
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

.newText {
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#configTool {
    width: 5%;
    padding-top: 5%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: url('../img/tools.svg');
    position: absolute;
    right: 1%;
    top: 2%;
}

#configTool:hover{
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

.homeButton.results {
    left: 390px;
    bottom: 30px;
    position: absolute;
}

#results #mytable {
    width: 100%;
    padding: 13px 157px;
}

#results table {
    color: white;
    font-size: 45px;
}

div#topUsers {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 79%;
    height: 66%;
    font-size: 0.8em;
}

.loginMessages {
    background-color: white;
    width: 310px;
    padding: 5px;
}

.loginForm label {
    float: left;
    clear: both;
    width: 240px;
}

.loginForm {
    padding: 5px;
    width: 310px;
    min-height: 120px;
    background-color: white;
}

.homeContainer {
    position: absolute;
    float: left;
    width: 53.079755%;
    padding-top: 34.6%;
    top: 20.6%;
    margin-left: 8%;
}

.showHome {
    position: absolute;
    background-repeat: no-repeat;
    background-image: url('../img/smallHome.svg');
    background-size: 100%;
    /* background-color: rgba(0, 0, 255, 0.32); */
    width: 7%;
    height: 11%;
    top: 78%;
    left: 88%;
}

.hidden{
    display: none;
}

.mainDiv {
    vertical-align: middle;
    background-color: black;
    width: 100%;
    padding-top: 51%;
    position: relative;
    margin: auto;
}

.sideBar {
    position: absolute;
    margin: 0 0 0 4%;
    left: 59.9%;
    width: 27.3%;
    padding-top: 32.2%;
    top: 24.4%;
    background-size: 100%;
    background-image: url('../img/hitParadeFull.svg');
    background-repeat: no-repeat;
}

div#navText {
    position: absolute;
    height: 10%;
    font-size: 20px;
    top: 82%;
    left: 28%;
    width: 62%;
    color: white;
    text-align: center;
}

.testInfos{
    margin: 5px;
    float: left;
    width: 200px;
    height: 200px;
    background-color: grey;
}

.mainGame *{
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    cursor: default;
}

.exampleInline {
    background-color: rgba(37, 22, 0, 0.76);
    padding: 10px;
}

.extraInformation {
    background-color: rgba(37, 22, 0, 0.76);
    color: lightgrey;
    padding: 10px;
}

.buttonContinue {
    bottom: 4%;
    position: absolute;
    width: 100%;
    height: 11%;
    font-size: 120%;
    text-align: center;
}

.currentQuestionHelp {
    position: absolute;
    left: 4%;
    top: 16%;
    width: 81.9%;
    height: 57%;
    overflow: auto;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    border: 1px solid white;
}

.currentQuestionHelp *{
    width: 100%;
    text-align:center;
    font-size: 100%;
}

#displayHelp {
    left: 0;
    top: 0;
    font-size: 22px;
    position: absolute;
    color: white;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.85);
}

select.comboBox, select.comboBox:focus {
    color: white;
    background-color: black;
    font-size: 22px;
    outline: rgb(128, 82, 21);
}

#comboBoxWrapper {
    position: absolute;
    top: 160px;
    right: 138px;
}

.whiteDot1, .whiteDot2, .whiteDot3, .whiteDot4 {
    position: absolute;
    left: 55%;
    top: 42%;
    background-image: url('../img/whiteDot.svg');
    width: 17.9%;
    padding-top: 18%;
    background-size: 100%;
    background-repeat: no-repeat;
}

.whiteDot2{
    left: 74%;
}

.whiteDot3{
    top: 72%;
}

.whiteDot4{
    left: 74%;
    top: 72%;
}

.metroBack {
    position: absolute;
    top: 0;
    left: 0px;
    background-image: url('../img/metronomeBack.svg');
    width: 51.136%;
    height: 116.129%;
    background-size: 100%;
}

.metroFront {
    position: absolute;
    left: 0px;
    top: 0;
    background-image: url('../img/metronomeFront.svg');
    width: 51.136%;
    height: 116.129%;
    background-size: 100%;
    z-index: 5;
}

.metroLine {
    position: absolute;
    left: 22.727%;
    top: 22.419%;
    background-image: url('../img/metroLine.svg');
    width: 6.818%;
    height: 66.129%;
    background-size: 100%;
    z-index: 4;
}

.helpTitle {
    position: absolute;
    top: 5%;
    width: 100%;
    font-size: 153%;
    font-weight: bold;
    text-align: center;
    height: 11%;
}

.feedbackText {
    position: absolute;
    left: 110px;
    top: 130px;
    font-size: 20px;
}

.buttonTryagain {
    position: absolute;
    left: 15%;
    bottom: 6%;
    font-size: 140%;
    font-weight: bold;
}

.buttonShowSolution {
    position: absolute;
    right: 15%;
    bottom: 6%;
    font-size: 140%;
    font-weight: bold;
}

.toastMessage {
    text-align: center;
    line-height: 380%;
    position: absolute;
    border: 1px solid;
    left: 30%;
    top: 30%;
    font-size: 190%;
    width: 40%;
    height: 35%;
    color: white;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.62);
}

div#answerItemsWrapper {
    position: absolute;
    left: 338px;
    top: 60px;
    width: 350px;
    height: 100px;
    text-align: center;
}

.home{
    position: absolute;
    /* margin: 0 0 0 106px; */
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    /* top: 123px; */
    /* padding: 80px; */
    background-size: 100%;
    background-image: url('../img/homeCasetteNoRolls.svg');
    text-align: center;
    /* float: left; */
}

.trainingView{
    position: absolute;
    padding-top: 13%;
    background-repeat: no-repeat;
    width: 95%;
    height: 83%;
    top: 6%;
    left: 3%;
    background-size: 100%;
    background-image: url('../img/homeTraining.svg');
    text-align: center;
    /* float: left; */
}

.navBar{
    width: 709px;
    height: 95px;
    position: relative;
    margin: 22px auto;
    background-image: url('../img/navBar.png');
    background-repeat: no-repeat;
}

.homeLogout{
    position: absolute;
    background-image: url('../img/powerOffTr.png');
    width: 40px;
    height: 40px;
    left: 7%;
    /* background-color: blue; */
    top: 81%;
    background-repeat: no-repeat;
    /* -webkit-transition: background-image 0.6s linear; 
    -moz-transition: background-image 0.6s linear;
    -ms-transition: background-image 0.6s linear;
    -o-transition: background-image 0.6s linear;
     transition: background-image 0.6s linear; */
}

.homeLogout:hover{
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    background-position: 11px 10px;
    background-image: url('../img/powerOff.png');
    -webkit-transition: background-image 0.6s linear;
    -moz-transition: background-image 0.6s linear;
    -ms-transition: background-image 0.6s linear;
    -o-transition: background-image 0.6s linear;
    transition: background-image 0.6s linear;
}

.homeTraining {
    background-image: url('../img/allRolls.svg');
    background-repeat: no-repeat;
    width: 26.64625468%;
    background-size: 363.587263%;
    height: 42%;
    background-position: 78.4% 23%;
    position: absolute;
    top: 27.6%;
    left: 56.7%;
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
    z-index: 1;
}

.homeTraining:hover{
    z-index: 3;
    background-position: 79% 89.7%;
    -webkit-transition: width 0.6s; /* For Safari 3.1 to 6.0 */
    transition: width 0.6s;
    -webkit-animation:backspin 4s linear infinite;
    -moz-animation:backspin 4s linear infinite;
    animation:backspin 4s linear infinite;
}

@keyframes fadein {
    from {
        opacity:0.5;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0.5;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0.5;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0.5;
    }
    to {
        opacity: 1;
    }
}

.homePlay {
    background-image: url('../img/allRolls.svg');
    background-repeat: no-repeat;
    background-size: 242.365857%;
    width: 39.956%;
    height: 63%;
    position: absolute;
    top: 16.8%;
    left: 10.7%;
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
    background-position: 15.5% 14.9%;
    z-index: 1;
}

.homePlay:hover{
    z-index: 3;
    opacity: 0.99;
    background-position: 15.5% 101.6%;
    -webkit-transition: width 0.6s; /* For Safari 3.1 to 6.0 */
    transition: width 0.6s;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@-moz-keyframes backspin { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes backspin { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes backspin { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }

.trainingButtons {
    text-align: center;
    float: left;
    /* position: absolute; */
    width: 100%;
    /* left: 40px; */
    top: 220px;
    margin: 20px;
}

.trainingTypeButton {
    float: left;
    color: grey;
    width: 44%;
    max-width: 46%;
    height: 10.7%;
    left: 5%;
    margin: 0.3%;
    position: relative;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}


.trainingTypeButton a {
    color: rgb(49, 49, 49);
    text-decoration: none;
    width: inherit;
    height: inherit;
    position: relative;
    max-width: 100%;
    text-overflow: ellipsis;  overflow: hidden;  white-space: nowrap;
}

.bottomRight{
    position: absolute;
    bottom: 20px;
    left: 30px;
    padding: 5px;
}

.mainGame{
    width: 815px;
    height: 500px;
    margin: auto;
    top: 30px;
    position: relative;
    /*margin: 100px auto;*/
    /* padding: 80px; */
    background-color: black;
    magin: auto;
    text-align: center;
}

.button{
    margin: 15px 0 0 0;
    width: 140px;
}

.button a{
    text-decoration: none;
    padding: 4px 10px 4px 10px;
    width: 155px;
    margin: auto;
    color: white;
    background-color: lightseagreen;
    transition: 0.4s background-color;
}

.button a:hover{
    background-color: lightslategray;
}

.welcome{
    top: 21%;

    font-size: 1em;
    position: absolute;
    width: 47%;
    height: 10%;
    max-width: 47%;
    left: 48%;
    z-index: 2;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.points{
    position: absolute;

    height: 10%;
    width: 40%;
    top: 62.9%;
    text-align: left;
    max-width: 40%;
    left: 7%;
    z-index: 2;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.level{
    position: absolute;  
    top: 20%;  

    height: 10%;
    text-align: left;
    width: 38%;
    left: 8%;
    z-index: 2;
}

html{
    height: 100%;
    overflow: hidden;
}

body{
    background-color: rgb(60, 1, 1);
    height: 100%;
    font-size: 15px;  
}

.container{
    height: 100%;
    width: 100%;
    display: table;            
}

.yourPoints{
    position: absolute;
    color: white;
    left: 5%;
    top: 11%;
    font-size: 80%;
}
.currentScale{
    position: absolute;
    /* background-color: grey; */
    /* left: 49%; */
    /* right: 50%; */
    left: 160px;
    top: 239px;
    font-size: 20;
    font-weight: bold;
}

.currentKey{
    position: absolute;
    left: 161px;
    top: 265px;
    font-weight: bold;
    font-size: 20px;
}
.yourLevel{
    color: #ffdbaa;
    position: absolute;
    left: 5%;
    top: 5%;
    font-size: 90%;
}
.remainingTime{
    position: absolute;
    color: white;
    left: 10%;
    top: 2%;
    width: 100px;
}
.gameContent{
    position: absolute;
    top: 20%;
    left: 15%;
    width: 70%;
    height: 25%;
}

.loading, .loadingMain{
    background-image: url("../img/ajax-loader.gif");
    width: 32px;
    height: 32px;
    margin: auto;
    position: absolute;
}

.loading{
    top: 45%;
    left: 50%;
}

.loadingMain{
    width: 100%;
    height: 100%;
    z-index: 5;
    position: absolute;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    background-position: 50% 45%;
}

.question{
    /* background-color: rgba(105, 105, 105, 0.16); */
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
}

.questionElement {
    top: 50%;
    text-align: left;
    left: 3%;
    color: #ffdbaa;
    position: absolute;
    font-size: 100%;
    width: 44%;
    height: 15%;
}

.questionText{
    position: absolute;
    text-align: left;
    left: 3%;
    width: 101%;
    height: 15%;
    color: white;
    top: 20%;
    font-size: 100%;
}

.questionChord{
    position: absolute;
    left: 336px;
    top: 95px;
    font-size: 38px;
    font-weight: bold;
}

.feedbackDiv{
    left: 0;
    top: 0;
    /* font-size: 22px; */
    position: absolute;
    color: white;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.85);
}

{
    position: absolute;
    width: 405px;
    left: 0px;
    top: 170px;
}

.answerItems, .answerNotes, .answerDegrees, .answerAreas, .answerChords {
    position: absolute;
    left: 25px;
    top: 10px;
    text-align: center;
}


.answerItem, .answerNote, .answerDegree, .answerArea, .answerChord{
    position: relative;
    padding: 6px;
    float: left;
    margin: 5px;
    min-width: 40px;
    min-height: 30px;
    line-height: 30px;
    color: white;
}

.answerItem:hover, .answerNote:hover, .answerDegree:hover, .answerArea:hover, .answerChord:hover{
    background-color: rgba(255, 219, 170, 0.35);
    transition: 0.4s background-color;
}

.answeredItem, .answeredNote, .answeredDegree, .answeredArea, .answeredChord{
    position: relative;
    float: left;
    margin: 5px;
    padding: 6px;
    min-width: 40px;
    min-height: 30px;
    line-height: 30px;
    color: white;
    background-color: #805215;
}

.nextButton{
    position: absolute;
    width: 5%;
    padding-top: 5.1%;
    background-repeat: no-repeat;
    bottom: 7%;
    right: 5%;
    z-index: 2;
    background-size: 100%;
    background-image: url('../img/nextIcon.svg');
}

.homeButton{
    position: absolute;
    width: 5%;
    background-repeat: no-repeat;
    bottom: 7%;
    left: 5%;
    padding-top: 5.1%;
    z-index: 2;
    background-size: 100%;
    background-image: url('../img/homeIconBig.svg');
}

.timeCounter{
    position: absolute;
    width: 8.3%;
    padding-top: 5.6%;
    right: 9%;
    top: 2%;
}

.metroLine{
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: linear;
  -webkit-transform-origin:0% 100%;
  -webkit-animation-timing-function:ease-in-out; /* or make your custom easing */
}

@-webkit-keyframes rotate {
  0%  { -webkit-transform: rotate(-30deg); }
  50% { -webkit-transform: rotate(30deg); }
  100% { -webkit-transform: rotate(-30deg); }
}
