@CHARSET "ISO-8859-1";

@font-face {
    font-family:"Digital7";
    src: url("../fonts/digital-7.ttf") /* TTF file for CSS3 browsers */
}

*{
    font-family:'Digital7', sans-serif;
}

div#navText {
    position: absolute;
    top: 19px;
    left: 200px;
    width: 330px;
    color: white;
    text-align: center;
}

.testInfos{
    margin: 5px;
    float: left;
    width: 200px;
    height: 200px;
    background-color: grey;
}

.mainGame *{
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    cursor: default;
}

div#answerItemsWrapper {
    position: absolute;
    left: 0px;
    top: 180px;
    width: 859px;
    height: 100px;
    text-align: center;
}

.home{
    position: relative;
    margin: 39px auto;
    background-repeat: no-repeat;
    width: 700px;
    height: 440px;
    /* padding: 80px; */
    background-image: url('../img/homeCassette.png');
    text-align: center;
}

.navBar{
    width: 709px;
    height: 95px;
    position: relative;
    margin: 22px auto;
    background-image: url('../img/navBar.png');
    background-repeat: no-repeat;
}

.homeLogout{
    position: absolute;
    background-image: url('../img/powerOffTr.png');
    width: 40px;
    height: 40px;
    left: 653px;
    top: 11px;
    background-repeat: no-repeat;
    -webkit-transition: background-image 0.6s linear;
    -moz-transition: background-image 0.6s linear;
    -ms-transition: background-image 0.6s linear;
    -o-transition: background-image 0.6s linear;
    transition: background-image 0.6s linear;
}

.homeLogout:hover{
    background-repeat: no-repeat;
    background-image: url('../img/powerOff.png');
    -webkit-transition: background-image 0.6s linear;
    -moz-transition: background-image 0.6s linear;
    -ms-transition: background-image 0.6s linear;
    -o-transition: background-image 0.6s linear;
    transition: background-image 0.6s linear;
}

.homeTraining {
    background-image: url('../img/homeCassetteRightDisabled.png');
    background-repeat: no-repeat;
    width: 187px;
    height: 189px;
    position: absolute;
    top: 111px;
    left: 404px;
    -webkit-transition: background-image 0.6s linear;
    -moz-transition: background-image 0.6s linear;
    -ms-transition: background-image 0.6s linear;
    -o-transition: background-image 0.6s linear;
    transition: background-image 0.6s linear;
}

.homeTraining:hover{
    z-index: 3;
    background-image: url('../img/homeCassetteRight.png');
    -webkit-transition: width 0.6s; /* For Safari 3.1 to 6.0 */
    transition: width 0.6s;
    -webkit-animation:backspin 4s linear infinite;
    -moz-animation:backspin 4s linear infinite;
    animation:backspin 4s linear infinite;
}

.homePlay {
    background-image: url('../img/homeCassetteLeftDisabled.png');
    background-repeat: no-repeat;
    width: 288px;
    height: 290px;
    position: absolute;
    top: 58px;
    left: 64px;
    -webkit-transition: background-image 0.6s linear;
    -moz-transition: background-image 0.6s linear;
    -ms-transition: background-image 0.6s linear;
    -o-transition: background-image 0.6s linear;
    transition: background-image 0.6s linear;
}

.homePlay:hover{
    z-index: 3;
    background-image: url('../img/homeCassetteLeft.png');
    -webkit-transition: width 0.6s; /* For Safari 3.1 to 6.0 */
    transition: width 0.6s;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@-moz-keyframes backspin { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes backspin { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes backspin { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }

.trainingButtons {
    text-align: center;
    float: left;
    /* position: absolute; */
    width: 100%;
    /* left: 40px; */
    top: 220px;
    margin: 20px;
}

.trainingTypeButton {
    background-color: white;
    color: grey;
    width: 250px;
    height: 30px;
    float: left;
    margin: 5px;
    padding: 6px;
    position: relative;
}

.trainingTypeButton:hover {
    background-color: rgb(234, 234, 234);
}

.trainingTypeButton a {
    color: rgb(49, 49, 49);
    text-decoration: none;
    line-height: 30px;
    width: inherit;
    height: inherit;
    position: relative;
    display: block;
}

.bottomRight{
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.mainGame{
    position: relative;
    margin: 100px auto;
    min-height: 461px;
    min-width: 800px;
    width: 400px;
    padding: 80px;
    background-color: rgb(239, 239, 239);
    magin: auto;
    text-align: center;
}

.button{
    margin: 15px 0 0 0;
    width: 140px;
}

.button a{
    text-decoration: none;
    padding: 4px 10px 4px 10px;
    width: 155px;
    margin: auto;
    color: white;
    background-color: lightseagreen;
    transition: 0.4s background-color;
}

.button a:hover{
    background-color: lightslategray;
}

.welcome{
    top: 77px;

    font-size: 33px;
    position: absolute;
    width: 280px;
    left: 330px;
    z-index: 2;
}

.points{
    position: absolute;

    top: 276px;
    width: 300px;
    left: 420px;
    z-index: 2;
}

.level{
    position: absolute;  
    top: 279px;  

    width: 150px;
    left: 20px;
    z-index: 2;
}

body{
    background-color: black;
}

.yourPoints{
    position: absolute;
    /* background-color: grey; */
    left: 75px;
}
.currentScale{
    position: absolute;
    /* background-color: grey; */
    /* left: 49%; */
    /* right: 50%; */
    left: 160px;
    top: 239px;
    font-size: 20;
    font-weight: bold;
}

.currentKey{
    position: absolute;
    left: 161px;
    top: 265px;
    font-weight: bold;
    font-size: 20px;
}
.yourLevel{
    position: absolute;
    right: 200px;
    /* background-color: grey; */
}
.remainingTime{
    position: absolute;
    /*background-image: url("../gfx/clock.png");*/
    right: 75px;
    top: 50px;
    width: 100px;
    height: 100px;
    float: right;
    /*background-color: grey;*/
}
.gameContent{
    position: absolute;
    top: 150px;
    left: 75px;
    width: 810px;
    height: 400px;
}

.loading{
    background-image: url("../img/ajax-loader.gif");
    width: 55px;
    height: 55px;
    margin: auto;
    top: 30%;
    left: 50%;
    position: absolute;
}

.question{
    /* background-color: rgba(105, 105, 105, 0.16); */
    width: 100%;
    height: 100%;
    position: relative;
}

.questionElement {
    top: 100px;
    left: 240px;
    position: absolute;
    font-size: 47px;
}

.questionText{
    position: absolute;
    left: 40px;
    top: 40px;
    font-size: 20px;
    font-weight: bold;
}

.questionChord{
    position: absolute;
    left: 336px;
    top: 95px;
    font-size: 38px;
    font-weight: bold;
}

.feedbackDiv{
    position: absolute;
    left: 326px;
    top: 127px;
    font-size: 50;
}

.feedbackText{
    position: absolute;
    width: 405px;
    left: 0px;
    top: 0px;
}

.answerItems, .answerNotes, .answerDegrees, .answerAreas, .answerChords {
    position: relative;
    margin: 0 auto;
    width: 62%;
    text-align: center;
}


.answerItem, .answerNote, .answerDegree, .answerArea, .answerChord{
    position: relative;
    padding: 6px;
    float: left;
    margin: 5px;
    min-width: 40px;
    min-height: 30px;
    line-height: 30px;
    color: white;
    background-color: #53ae2c;
}

.answerItem:hover, .answerNote:hover, .answerDegree:hover, .answerArea:hover, .answerChord:hover{
    background-color: #5dcd34;
    transition: 0.4s background-color;
}

.answeredItem, .answeredNote, .answeredDegree, .answeredArea, .answeredChord{
    position: relative;
    float: left;
    margin: 5px;
    padding: 6px;
    min-width: 40px;
    min-height: 30px;
    line-height: 30px;
    color: white;
    background-color: #9953ae;
}

.nextButton{
    background-color: #53ae2c;
    position: absolute;
    bottom: 130px;
    right: 131px;
    padding: 5px;
    z-index: 2;
}

.nextButton a{
    color: white;
    text-decoration: none;
}
